.services-container {
  width: 50%;
  height: 50%; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-container h1.main-title {
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-container .window {
  width: 100%;
  flex-grow: 1; 
  border-radius: 10px;
  background: white;
  overflow: hidden;
  box-shadow: 0 2px 4px hsl(0deg 0% 0% / 0.1), 0 4px 8px hsl(0deg 0% 0% / 0.1);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.services-container nav {
  background: #333398;
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #666363;
  height: auto;
  width: 100%;
  text-align: center;
  position: sticky; /* Stick to the top */
  top: 0; /* Ensure it stays at the top */
  z-index: 1; /* Ensure it's above other content */
}

.services-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
}

.services-container li {
  flex: 1 1 15%; /* Flex-grow, flex-shrink, and flex-basis for even distribution */
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: white;
  cursor: pointer;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.services-container li.selected {
  background: #0c0c1d;
  color: #fff;
}

.services-container .underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background: rgb(255, 255, 255);
}

.services-container .textMain {
  font-size: 24px;
  padding: 20px;
  color: #000;
  line-height: 1.6;
  text-align: center;
  max-width: 90%;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .services-container {
    width: 90%;
    height: auto; /* Adjust height for mobile */
  }

  .services-container ul {
    flex-direction: row; /* Ensure they align side by side */
    flex-wrap: wrap;
  }

  .services-container li {
    flex: 1 1 45%; /* Allow items to be 45% width with equal spacing */
    margin: 10px;
    padding: 15px;
    font-size: 20px;
  }

  .services-container .textMain {
    font-size: 20px;
    padding: 15px;
  }
}
