@import "../../app.scss";

.cp-transition {
  &__container {
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    background-color: #0c0c1d;
    // background-image: linear-gradient(to top, #111132, #0c0c1d);


    @media (max-width: 768px) {
      min-height: 250px;
    }

    &>div {
      height: 100%;
    }

    &--yellow {
      background-color: #EAD200;
    }

    &--green {
      background-color: #6ACB00;
    }

    &--violet {
      background-color: #771ADA;
    }

    &--blue {
      background-color: #19A0FA;
    }
  }

  .square {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: var(--shadow-md);
    transition: all .2s;
    cursor: pointer;

    &--yellow {
      border: 2px solid #EAD200;
      // background-color: #EAD200;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
    }

    &--green {
      border: 2px solid #6ACB00;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
    }

    &--violet {
      border: 2px solid #771ADA;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
    }

    &--blue {
      border: 2px solid #19A0FA;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      padding: 50px;
    }

    &:hover {
      transform: translateY(-3px) !important;
    }

    &--card__text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 32px;
    }
  }

  &__squares-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: white;
  }

  .card {
    color: white;

    &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 30px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr;
      gap: 20px;

      &--yellow {
        background-color: whitesmoke;
      }

      &--green {
        background-color: white;
      }

      &--violet {
        background-color: white;
      }

      &--blue {
        background-color: white;
      }

    }

    &__header {
      display: flex;
      justify-content: center;
      align-items: center;


      h2 {
        font-size: 3.2rem;
        font-weight: 700;
        color: black;
        text-align: center;
      }

      button {
        color: white;
        border: none;
        background: transparent;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }

    &__content {
      display: block;
    }

    &__text-placeholder {
      text-align: justify;
      line-height: 125%;
      font-size: 1.6rem;
      height: 100%;
      width: 100%;
      color: black;
    }

    &__button-close {
      width: 50%;
      height: 10rem;
      background-color: green;
    }
  }
}

.heading_card {
  display: flex;
  position: relative;
  top: 20%;
  justify-content: center;
  align-items: center;
}

.heading_subcard {
  display: flex;
  position: relative;
  top: 25%;
  justify-content: center;
  align-items: center;
}