@import "../../app.scss";

.cp-transition {
  &__container {
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    background-color: #0c0c1d;
    // background-image: linear-gradient(to top, #111132, #0c0c1d);

    @media (max-width: 768px) {
      min-height: 250px;
    }

    @media (max-width: 480px) {
      height: auto;
      padding: 10px;
    }

    &>div {
      height: 100%;
    }

    &--yellow {
      background-color: #EAD200;
    }

    &--green {
      background-color: #6ACB00;
    }

    &--violet {
      background-color: #771ADA;
    }

    &--blue {
      background-color: #19A0FA;
    }
  }

  .square {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: var(--shadow-md);
    transition: all .2s;
    cursor: pointer;

    @media (max-width: 768px) {
      height: 200px;
      width: 200px;
      font-size: 24px;
    }

    @media (max-width: 480px) {
      height: 150px !important;
      width: 150px !important;
      font-size: 18px !important;
    }

    &--yellow {
      border: 2px solid #EAD200;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      text-align: center;
    }

    &--green {
      border: 2px solid #6ACB00;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      text-align: center;
    }

    &--violet {
      border: 2px solid #771ADA;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      text-align: center;
    }

    &--blue {
      border: 2px solid #19A0FA;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      padding: 50px;
      text-align: center;
    }

    &:hover {
      transform: translateY(-3px) !important;
    }

    &--card__text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 32px;
      text-align: center;
    }
  }

  &__squares-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; // Wrap squares on small screens

    @media (max-width: 480px) {
      justify-content: center;
      align-items: center;
      height: auto;
    }
  }

  .card {
    color: white;

    &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 30px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr;
      gap: 20px;
      overflow-x: scroll;

      @media (max-width: 480px) {
        padding: 15px;
        gap: 10px;
      }

      &--yellow {
        background-color: whitesmoke;
      }

      &--green {
        background-color: white;
      }

      &--violet {
        background-color: white;
      }

      &--blue {
        background-color: white;
      }
    }

    &__header {
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 3.2rem;
        font-weight: 700;
        color: black;
        text-align: center;

        @media (max-width: 480px) {
          font-size: 2.4rem;
        }
      }

      button {
        color: white;
        border: none;
        background: transparent;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }
    }

    &__content {
      display: block;
    }

    &__text-placeholder {
      text-align: justify;
      line-height: 175%;
      font-size: 2rem;
      height: 100%;
      width: 50%;
      color: black;
      margin: auto;

      @media (max-width: 480px) {
        font-size: 1.6rem;
        width: 100%;
      }
    }

    @media (min-width: 1920px) {
      &__text-placeholder {
        text-align: justify;
        line-height: 175%;
        font-size: 1.6rem;
        height: 100%;
        width: 50%;
        color: black;
        margin: auto;
      }
    }

    &__button-close {
      margin: auto;
      margin-top: 0;
    }
  }
}

.heading_card {
  display: flex;
  position: relative;
  top: 20%;
  justify-content: center;
  align-items: center;

  @media (max-width: 480px) {
    top: 10%;
  }
}

.heading_subcard {
  display: flex;
  position: relative;
  top: 25%;
  justify-content: center;
  align-items: center;

  @media (max-width: 480px) {
    top: 15%;
  }
}
