html {
  scroll-behavior: smooth;
  height: auto;
  min-height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  min-height: 100%;
}

#root {
  height: auto;
  min-height: 100%;
  overflow: visible;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100%;
  overflow: visible;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
