@import "../../app.scss";

.cursor{
  width: 50px;
  height: 100px;
  background-image: url('/HAL9000.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 999;
  pointer-events: none;

  @include mobile{
    display: none;
  }

  @media (max-width: 768px) {
    display: none;
  }
}